.team {
  padding-top: 4rem;
  padding-bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.team-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--dark);
}

.team-placeholder {
  color: var(--dark);
  font-size: 1rem;
}

